.about{
	min-height:100vh;
	padding-bottom: 6rem;
}

.aboutWrapper{
	display:flex;
	flex-direction: column;
}

.aboutContentContainer{
	display: flex;
	justify-content: space-between;
}

.about{
	h2{
		margin-top:6rem;
	}
	img{
	border: 5px solid #6610f2;
	border-radius: 50%;
	flex-basis: 40%;
	width:100%
	}
	span{
		font-size: 4rem;
		color: #6610f2;
		line-height: 1;
		padding-left: 3rem;
	}
	
	p{
		line-height: 1.6;
		padding-left: 3rem;
		margin-top: 0;
	}
	
	a{
		background-color: #6610f2;
		margin-left: 3rem;
		padding: 10px 50px;
		border-radius: 5px;
		display: inline-block;
	}
	.imgContainer{
		align-self: center;
		flex-basis: 40%;
		margin: 2rem 0;
	}
}

.about a:hover,
.about a:focus{
	background-color:#4d00ca;
}

.aboutText{
	flex-basis: 60%;
}

.resume{
	margin-bottom: 1.5rem;
}