.contact{
	min-height: 100vh;
}

.contactForm{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	border: 5px solid #6610f2;
	border-radius: 50px;
	width: 65%;
}

input[type="text"],
input[type="email"],
textarea{
	margin: 1.5rem;
	padding: 0.5rem;
	border-radius: 5px;
	border:1px solid #6610f2
}

.formName,
.formEmail{
	width:calc(50% - 3rem);
	display: inline-block;
}

.contactContainer{
	display: flex;
}

textarea{
	resize:none;
}

.submit-button{
	display: block;
	color:#eff0f0;
	margin:0 auto;
	width: 50%;
	background-color: #6610f2;
	border:none;
	margin-bottom: 2rem;
	border-radius: 5px;
}

.submit-button:hover,
.submit-button:focus{
	background:#6610f2;
	opacity: 0.8;
}

.contact a{
	color: #6610f2;
	font-size: 1.5rem;
}

.contact p{
	padding-right: 3rem;
	line-height: 2.2;
}

.formSubject{
	width: 100%;
}