.contact{
	min-height: 100vh;
	background-color: #212529;
	padding-bottom: 6rem;
	a{
		color: #6610f2;
		font-size: 1.5rem;
	}
	a:hover,
	a:focus{
		opacity: 0.5;
	}
	p{
		padding-right: 3rem;
		line-height: 2.2;
		max-width: 400px;
	}
}

.contactForm{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	border: 5px solid #6610f2;
	border-radius: 50px;
	width: 65%;
}

input[type="text"],
input[type="email"],
textarea{
	margin: 1.5rem;
	padding: 0.5rem;
	border-radius: 5px;
	border: 1px solid #6610f2
}

textarea{
	resize: none;
	width: 100%;
}

.formName,
.formEmail{
	width: calc(50% - 3rem);
	display: inline-block;
}

.contactContainer{
	display: flex;
}

.submitButton{
	display: block;
	color:#eff0f0;
	margin: 0 auto;
	width: 50%;
	background-color: #6610f2;
	border: none;
	margin-bottom: 2rem;
	border-radius: 5px;
	cursor: pointer;
}

.submitButton:hover,
.submitButton:focus{
	background:#4d00ca;
}

.formSubject{
	width: 100%;
}

.returnToTop{
	position: relative;
	bottom: 5%;
	left: 90%;
	background:none;
	border:none;
	cursor:pointer;
}
.contact i{
	font-size: 4rem;
	opacity: 0.5;
	color: #eff0f0;
}