.side-header{
	background-color: #111418;
	height: 100vh;
	right:auto;
	width:280px;
	position: fixed;
	left: 0;
	top: 0;
	border-right:3px solid #6610f2;
}

.side-header li{
	display: block;
}

.side-header a{
	padding: 10px 0;
	margin: 10px auto;
	text-align: center;
	display: inline-block;
}

.side-header a:active,
.side-header a:focus,
.side-header a:hover{
	color: #6610f2;
}

.navbar{
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
}

.logo{
	font-size:2rem;
}