.hero {
	background-image: url("../assets/hero-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	text-align: center;
	i{
		position: relative;
		bottom: -150px;
		font-size: 4rem;
		animation-duration: 2s;
		animation-iteration-count: infinite;
	}
}

.heroOverlay {
	background-color: #000;
	opacity: 0.7;
	height: 100%;
}

.heroWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.bounce{
	animation: bounce, ease;
}

@keyframes bounce{
	0%{transform:translateY(20px);}
	50%{transform:translateY(50px);}
	100%{transform:translateY(20px);}
}