@media (max-width:1280px){
	.contactContainer{
		flex-direction: column;
	}
	
	.contactForm{
		align-self: self-end;
	}
}


@media (max-width:1100px){

	.contentWrapper{
		margin-left: 0;
	}

	h2{
		margin-top: 6rem;
	}

	.stickyTop{
		position: sticky;
		z-index: 1000;
	}

	.linksContainer{
		margin: 0 auto;
		max-width: 1280px;
		width: 80%;
		display: flex;
		flex-direction: row;
		justify-content:space-between;
		align-items:center;
		transition: all  0.5s ease;
		div{
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	.sideHeader{
		height: auto;
		border-right: none;
		margin: 0 auto;
		width: 100vw;
		display: flex;
		justify-content: space-between;
		border-bottom: 3px solid #6610f2;
		.logo{
		margin: 0;
		padding: 1.5rem 0;
		}
		a{
			margin: 1.5rem auto;
		}
	}

	.navbar{
		display: none;
	}

	.linksContainer i{
		display: inline-block;
		font-size: 2rem;
		cursor: pointer;
		padding: 1rem;
	}

	.socialLinks{
		justify-content: center;
		flex-basis: 20%;
		a{
			margin: 0;
		}
	}

	.activeNavbar{
		display: inline;
	}

	.activeLinksContainer{
		flex-direction: column;
	}
	
	.aboutContentContainer{
		flex-direction: column;
	}

	.skillsGrid{
		grid-template-columns: repeat(2, 1fr);
	}

	.contact p{
		padding:0;
	}
}

@media (max-width:900px){
	.projectsGrid{
		display:flex;
		flex-direction: column;
	}

	.projects img{
		width: 60%;
	}

	.contactForm{
		align-self:center;
		width: 80%;
	}

	.contact p{
		max-width: initial;
		text-align: center;
	}
}

@media (max-width:700px){
	.hero i{
		bottom: 0;
	}

	.socialLinks i{
		font-size: 1.2rem;
	}

	.projects img{
		width: 80%;
	}

	.linksContainer {
		.logo{
			font-size: 1.2rem;
			padding: 0.5rem 0;
		}
		div .socialLinks{
			justify-content: center;
		}
	}

	.contactForm{
		width: 100%;
	}
}

@media (max-width: 500px){
	.socialLinks i{
		font-size: 1.2rem;
		padding: 0.5rem;
	}
}