.projects{
	min-height: 100vh;
	background-color: #212529;
	padding-bottom: 6rem;
}

.projectsGrid{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
}

.projects img{
	width: 100%;
	height: auto;
}

.projectText a{
	font-size: 1.2rem;
	color: #6610f2;
}

.projectText h3{
	margin-top: 0;
}