html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  scroll-behavior: smooth;
}

body {
  background-color: #111418;
  color: #eff0f0;
  font-family: 'Poppins', sans-serif;
  font-size: 125%;
}

.contentWrapper {
  margin-left: 280px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 80%;
}

a {
  color: #eff0f0;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: #eff0f0;
  list-style: none;
}

h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

h2 {
  display: inline-block;
}

.sideHeader {
  background-color: #111418;
  height: 100vh;
  width: 280px;
  position: fixed;
  left: 0;
  top: 0;
  border-right: 3px solid #6610f2;
}

.sideHeader li {
  display: block;
}

.sideHeader a {
  padding: 10px 0;
  margin: 10px auto;
  text-align: center;
  display: inline-block;
}

.sideHeader .logo {
  font-size: 2rem;
  margin-top: 4rem;
}

.sideHeader a:active,
.sideHeader a:focus,
.sideHeader a:hover {
  color: #6610f2;
}

.linksContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fa-bars {
  display: none;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero {
  background-image: url("../assets/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
}

.hero i {
  position: relative;
  bottom: -120px;
  font-size: 4rem;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.heroOverlay {
  background-color: #000;
  opacity: 0.7;
  height: 100%;
}

.heroWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.bounce {
  -webkit-animation: bounce, ease;
          animation: bounce, ease;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  50% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  50% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

.about {
  min-height: 100vh;
  padding-bottom: 6rem;
}

.aboutWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutContentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about h2 {
  margin-bottom: 0;
}

.about img {
  border: 5px solid #6610f2;
  border-radius: 50%;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  width: 100%;
}

.about span {
  font-size: 4rem;
  color: #6610f2;
  line-height: 1;
}

.about p {
  line-height: 2.2;
  padding-left: 3rem;
  margin-top: 0;
}

.about a {
  background-color: #6610f2;
  margin-left: 3rem;
  padding: 10px 50px;
  border-radius: 5px;
  display: inline-block;
}

.about .imgContainer {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  margin: 2rem 0;
}

.about a:hover,
.about a:focus {
  background-color: #4d00ca;
}

.aboutText {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.resume {
  margin-bottom: 1.5rem;
}

.projects {
  min-height: 100vh;
  background-color: #212529;
  padding-bottom: 6rem;
}

.projects img {
  width: 100%;
  height: auto;
}

.projectsGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.projectText a {
  font-size: 1.2rem;
  color: #6610f2;
}

.projectText a:hover {
  opacity: 0.5;
}

.projectText h3 {
  margin-top: 0;
}

.skills {
  min-height: 100vh;
  padding-bottom: 6rem;
}

.skills i {
  font-size: 4rem;
  padding: 2rem 0;
}

.skills i:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.skills li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #6610f2;
  border-radius: 15%;
}

.skillsGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 2.5rem;
}

.contact {
  min-height: 100vh;
  background-color: #212529;
  padding-bottom: 6rem;
}

.contact a {
  color: #6610f2;
  font-size: 1.5rem;
}

.contact a:hover,
.contact a:focus {
  opacity: 0.5;
}

.contact p {
  padding-right: 3rem;
  line-height: 2.2;
  max-width: 400px;
}

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 5px solid #6610f2;
  border-radius: 50px;
  width: 65%;
}

input[type="text"],
input[type="email"],
textarea {
  margin: 1.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #6610f2;
}

textarea {
  resize: none;
  width: 100%;
}

.formName,
.formEmail {
  width: calc(50% - 3rem);
  display: inline-block;
}

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.submitButton {
  display: block;
  color: #eff0f0;
  margin: 0 auto;
  width: 50%;
  background-color: #6610f2;
  border: none;
  margin-bottom: 2rem;
  border-radius: 5px;
  cursor: pointer;
}

.submitButton:hover,
.submitButton:focus {
  background: #4d00ca;
}

.formSubject {
  width: 100%;
}

.returnToTop {
  position: relative;
  bottom: 5%;
  left: 90%;
  background: none;
  border: none;
  cursor: pointer;
}

.contact i {
  font-size: 4rem;
  opacity: 0.5;
  color: #eff0f0;
}

footer {
  margin: 2rem 0;
}

footer div {
  text-align: center;
  font-size: 1.2rem;
}

footer a {
  color: #6610f2;
}

footer a:hover {
  opacity: 0.5;
}

@media (max-width: 1280px) {
  .contactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactForm {
    -ms-flex-item-align: self-end;
        -ms-grid-row-align: self-end;
        align-self: self-end;
  }
}

@media (max-width: 1100px) {
  .contentWrapper {
    margin-left: 0;
  }
  h2 {
    margin-top: 6rem;
  }
  .stickyTop {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1000;
  }
  .linksContainer {
    margin: 0 auto;
    max-width: 1280px;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all  0.5s ease;
    transition: all  0.5s ease;
  }
  .linksContainer div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sideHeader {
    height: auto;
    border-right: none;
    margin: 0 auto;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 3px solid #6610f2;
  }
  .sideHeader .logo {
    margin: 0;
    padding: 1.5rem 0;
  }
  .sideHeader a {
    margin: 1.5rem auto;
  }
  .navbar {
    display: none;
  }
  .linksContainer i {
    display: inline-block;
    font-size: 2rem;
    cursor: pointer;
    padding: 1rem;
  }
  .socialLinks {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
  .socialLinks a {
    margin: 0;
  }
  .activeNavbar {
    display: inline;
  }
  .activeLinksContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutContentContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skillsGrid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .contact p {
    padding: 0;
  }
}

@media (max-width: 900px) {
  .projectsGrid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects img {
    width: 60%;
  }
  .contactForm {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 80%;
  }
  .contact p {
    max-width: initial;
    text-align: center;
  }
}

@media (max-width: 700px) {
  .hero i {
    bottom: 0;
  }
  .socialLinks i {
    font-size: 1.2rem;
  }
  .projects img {
    width: 80%;
  }
  .linksContainer .logo {
    font-size: 1.2rem;
    padding: 0.5rem 0;
  }
  .linksContainer div .socialLinks {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contactForm {
    width: 100%;
  }
  .returnToTop {
    bottom: -3%;
    left: 85%;
  }
}

@media (max-width: 500px) {
  .socialLinks i {
    font-size: 1.2rem;
    padding: 0.5rem;
  }
  .returnToTop {
    bottom: -4%;
    left: 80%;
  }
}
